:root{
  --bg:#7607a2;
  --bgSoft:#45045f;
  --text: rgb(255, 255, 255);
  --textSoft: rgb(184, 184, 184);
  --btn: #f9009e;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  color: var(--text );
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right : 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1536px){
  .container{
    width:1366px;
  }
}

@media (max-width: 1366px){
  .container{
    width:1280px;
  }
}

@media (max-width: 1280px){
  .container{
    width:1024px;
  }
}

@media (max-width: 1024px){
  .container{
    width:768px;
  }
}

@media (max-width: 768px){
  .container{
    width:640px;
  }
}

@media (max-width: 640px){
  .container{
    width:475px;
  }
}










.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}